@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@388;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  border: 1px red solid;
  cursor: none;
  z-index: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0px;
  padding: 10px;
  height: auto;
  width: 100vw;
  background-color: rgb(216, 235, 253);
  display: flex;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nav > p {
  letter-spacing: 3px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}

.bgColor {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  right: 50px;
  top: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 10px solid transparent;
}
.bg-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
}
#bgColor-red {
  background-color: #38cc77;
}
#bgColor-blue {
  background-color: black;
}
#bgColor-yellow {
  background-color: white;
}

#logo {
  height: 50px;
  width: 50px;
  user-select: none;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.5%;
}

#upload {
  height: 40px;
  width: 40px;
  user-select: none;
}

#cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  height: 50px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
}

img {
  width: 100%;
  height: 100%;
  user-select: none;
}

.control-bar {
  position: fixed;
  background: #ffffff;
  width: 60vw;
  height: 55px;
  box-shadow: 0px 10px 32px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 32px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 32px -10px rgba(0, 0, 0, 0.75);
  border: 0.5px solid rgba(121, 121, 121, 0.3);
  border-radius: 20px;
  z-index: 1;
  bottom: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 40px;
  position: relative;
  height: 40px;
  z-index: 2;
  padding: 5px;
  background-color: white;
  border-radius: 40%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pen-container {
  display: none;
  position: relative;
  bottom: 90px;
  left: -45px;
  height: fit-content;
  width: fit-content;
  background-color: rgba(121, 121, 121, 0.8);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.display-pen-container {
  display: flex !important;
}

.penColor .pen-color {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 3rem;
}

.slidecontainer {
  transform: scale(calc(1 / 1.2));
}

#eraser .slidecontainerforeraser {
  display: none;
  position: relative;
  bottom: 90px;
  left: -45px;
  height: fit-content;
  width: fit-content;
  background-color: rgba(121, 121, 121, 0.8);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.pointer {
  height: 30px;
  width: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.icon:hover {
  background-color: #ffbcbc;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hide {
  display: none;
}

/* for display in canvas */
.circle-shape {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

#shapes .shape-container {
  display: none;
  position: absolute;
  padding: 0.6rem;
  bottom: 50px;
  left: -20px;
  height: auto;
  width: auto;
  border-radius: 1rem;
  background-color: rgba(121, 121, 121, 0.411);
}

#shapes .shape-container .shape-btn {
  height: 30px;
  width: 30px;
}

.left-tool-bar {
  position: absolute;
  left: 15px;
  z-index: 5;
}

.main-color-picker {
  display: flex;
  flex-direction: column;

  padding: 10px;

  border-radius: 20px;
  border: 0.5px solid rgba(121, 121, 121, 0.3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  background: #ffffff;
}

.color {
  outline: none;
  border: none;
  height: 20px;
  width: 20px;
  background-color: aqua;
  border-radius: 100%;
  margin: 6px 4px;
  cursor: pointer;
}

.custom-color-picker {
  margin-top: 1rem;
  padding: 12px;
}

/* * Utils  */
.color-swatch-black {
  background-color: #3c4043;
}

.color-swatch-blue {
  background-color: #19acc0;
}

.color-swatch-red {
  background-color: #d9453c;
}

.color-swatch-white {
  background-color: #fff;
  border: 0.5px solid grey;
}

#shapes .shape-container .shape-btn:hover {
  opacity: 0.6;
}

#shapes .shape-container #circleShape {
  background-image: url('./Images/circle.png');
  background-size: cover;
}

#shapes .shape-container #rectShape {
  background-image: url('./Images/rectangle.png');
  background-size: cover;
}

.show-shapes {
  display: flex !important;
  gap: 10px;
}

.rect-shape {
  position: absolute;
  background-color: black;
  opacity: 0.6;
}

.active-tool > span {
  background-color: rgb(82, 82, 82);
  border-radius: 5px;
  padding: 2.5px 16px;
  color: white;
  font-size: 20px;
  user-select: none;
}

/* save image  */
.far {
  font-size: 25px;
  position: relative;
  /* top: 1px; */
  background-color: rgb(82, 82, 82);
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.far:hover {
  filter: brightness(90%);
}
